
/*************************
*******Typography******
**************************/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
    margin: 0
}
a {
    background: transparent
}
a:focus {
    outline: thin dotted
}
a:active,a:hover {
    outline: 0
}
h1 {
    margin: .67em 0;
    font-size: 2em
}
b,strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
small {
    font-size: 80%
}
img {
    border: 0
}
button,input,select,textarea {
	margin: 0;
	font-family: inherit;
	font-size: 100%
}
button,input {
	line-height: normal
}
button,select {
	text-transform: none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}
button[disabled],html input[disabled] {
	cursor: default
}
input[type="checkbox"],input[type="radio"] {
	padding: 0;
	box-sizing: border-box
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
@media print {
    * {
        color: #000!important;
        text-shadow: none!important;
        background: transparent!important;
        box-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    @page {
        margin: 2cm .5cm
    }
    p,h2,h3 {
        orphans: 3;
        widows: 3
    }
    h2,h3 {
        page-break-after: avoid
    }
    select {
        background: #fff!important
    }
    .table td,
    .table th {
        background-color: #fff!important
    }
    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000!important
    }
    .label {
        border: 1px solid #000
    }
    .table {
        border-collapse: collapse!important
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd!important
    }
}
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff
}
input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}
a {
    color: #428bca;
    text-decoration: none
}
a:hover,a:focus {
    color: #2a6496;
    text-decoration: underline
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
img {
    vertical-align: middle
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999
}
h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small {
    font-size: 65%
}
h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small {
    font-size: 75%
}
h1,.h1 {
    font-size: 36px
}
h2,.h2 {
    font-size: 30px
}
h3,.h3 {
    font-size: 24px
}
h4,.h4 {
    font-size: 18px
}
h5,.h5 {
    font-size: 14px
}
h6,.h6 {
    font-size: 12px
}
p {
    margin: 0 0 10px
}
small,.small {
    font-size: 85%
}
ul li {
	list-style: none;
}
a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
a:hover {
	outline: none;
	text-decoration:none;
}
a:focus {
	outline:none;
	outline-offset: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arrial', sans-serif;
}
/*************************
*******Header CSS******
**************************/
#header{
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	text-transform: uppercase
}
.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee
}
.header-middle {
	background: none repeat scroll 0 0 #FE980F; /*#F0F0E9*/
}
.header-middle .container .row {
	border-bottom: 1px solid #f5f5f5;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}
.header-middle .container .row .col-sm-4{
	padding-left: 0;
}
.header-middle .container .row .col-sm-8 {
	padding-right:0;
}
.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4
}

@media(min-width:768px) {
	.lead {
		font-size: 21px
	}
}

/*************************
*******Main page CSS******
**************************/
#form {
	display: block;
	margin-bottom: 140px;
	margin-top: 140px;
	overflow: hidden;
}
.login-form {
	
}
.login-form h2 {
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}
.login-form a:hover{
	cursor: pointer;
}
.login-form form input {
	background: #cfcfba;
	border: medium none;
	color: #696763;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 35px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 35px;
	width: 100%;
}
.login-form form input[type="submit"]{
	padding-left: 0px;
	/*background: url('icons/ok.png') 5px 5px no-repeat;*/
}

.login-form form input[type="submit"]:hover{
	background: #FE980F;
}
.login-form form input#username{
	background:#cfcfba url('images/orang.png') 5px no-repeat;
}
.login-form form input#password{
	background:#cfcfba url('images/kunci.png') 5px no-repeat;
}
.login-form form input#captcha{
	background:#cfcfba url('images/kunci.png') 5px no-repeat;
}
.login-form form input#username:focus{
	background:#fbfe8b url('images/orang.png') 5px no-repeat;
}
.login-form form input#password:focus{
	background: #fbfe8b url('images/kunci.png') 5px no-repeat;
}
.login-form form input#captcha:focus{
	background: #fbfe8b url('images/kunci.png') 5px no-repeat;
}
.login-form form input:focus {
	background: #fbfe8b;
}
.login-form form span{
	line-height: 25px;
}
.login-form form span input {
	width: 15px;
	float: left;
	height: 15px;
	margin-right: 5px;
}
.login-form form button {
	margin-top: 23px;
}
.login-form form button, .signup-form form button {
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-family: 'Roboto', sans-serif;
	padding: 6px 25px;
}
.login-form label{

}
.login-form label input {
	border: medium none;
	display: inline-block;
	height: 0;
	margin-bottom: 0;
	outline: medium none;
	padding-left: 0;
}
.or{
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}
/*************************
*******Footer CSS******
**************************/
#footer {
	width: 100%;
	background: #FE980F; /*#F0F0E9;*/
	font-size: 12px;
	position: fixed;
	bottom: 0;
}
.footer-bottom {
	background: #FE980F; /* #D6D6D0;*/
	padding-top: 5px;
}
/*************************
*******404 CSS******
**************************/
.logo-404 {
  margin-top: 60px;
}
.content-404 h1 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 41px;
  font-weight: 300;
}
.content-404 img {
 margin:0 auto;
}
.content-404 p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.content-404  h2 {
  margin-top:50px;
}
.content-404 h2 a {
  background: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}
/******************
*****Bosstrap******
******************/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.container:before,.container:after {
    display: table;
    content: " "
}
.container:after {
    clear: both
}
.container:before,.container:after {
    display: table;
    content: " "
}
.container:after {
    clear: both
}
@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}
@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px
}
.row:before,.row:after {
    display: table;
    content: " "
}
.row:after {
    clear: both
}
.row:before,.row:after {
    display: table;
    content: " "
}
.row:after {
    clear: both
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666666666666%
}

.col-xs-10 {
    width: 83.33333333333334%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666666666666%
}

.col-xs-7 {
    width: 58.333333333333336%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666666666667%
}

.col-xs-4 {
    width: 33.33333333333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.666666666666664%
}

.col-xs-1 {
    width: 8.333333333333332%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-pull-11 {
    right: 91.66666666666666%
}

.col-xs-pull-10 {
    right: 83.33333333333334%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-8 {
    right: 66.66666666666666%
}

.col-xs-pull-7 {
    right: 58.333333333333336%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-5 {
    right: 41.66666666666667%
}

.col-xs-pull-4 {
    right: 33.33333333333333%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-2 {
    right: 16.666666666666664%
}

.col-xs-pull-1 {
    right: 8.333333333333332%
}

.col-xs-pull-0 {
    right: 0
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-push-11 {
    left: 91.66666666666666%
}

.col-xs-push-10 {
    left: 83.33333333333334%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-8 {
    left: 66.66666666666666%
}

.col-xs-push-7 {
    left: 58.333333333333336%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-5 {
    left: 41.66666666666667%
}

.col-xs-push-4 {
    left: 33.33333333333333%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-2 {
    left: 16.666666666666664%
}

.col-xs-push-1 {
    left: 8.333333333333332%
}

.col-xs-push-0 {
    left: 0
}

.col-xs-offset-12 {
    margin-left: 100%
}

.col-xs-offset-11 {
    margin-left: 91.66666666666666%
}

.col-xs-offset-10 {
    margin-left: 83.33333333333334%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-8 {
    margin-left: 66.66666666666666%
}

.col-xs-offset-7 {
    margin-left: 58.333333333333336%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-5 {
    margin-left: 41.66666666666667%
}

.col-xs-offset-4 {
    margin-left: 33.33333333333333%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-2 {
    margin-left: 16.666666666666664%
}

.col-xs-offset-1 {
    margin-left: 8.333333333333332%
}

.col-xs-offset-0 {
    margin-left: 0
}

@media(min-width:768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666666666666%
    }
    .col-sm-10 {
        width: 83.33333333333334%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666666666666%
    }
    .col-sm-7 {
        width: 58.333333333333336%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666666666667%
    }
    .col-sm-4 {
        width: 33.33333333333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.666666666666664%
    }
    .col-sm-1 {
        width: 8.333333333333332%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666666666666%
    }
    .col-sm-pull-10 {
        right: 83.33333333333334%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666666666666%
    }
    .col-sm-pull-7 {
        right: 58.333333333333336%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666666666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.666666666666664%
    }
    .col-sm-pull-1 {
        right: 8.333333333333332%
    }
    .col-sm-pull-0 {
        right: 0
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666666666666%
    }
    .col-sm-push-10 {
        left: 83.33333333333334%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666666666666%
    }
    .col-sm-push-7 {
        left: 58.333333333333336%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666666666667%
    }
    .col-sm-push-4 {
        left: 33.33333333333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.666666666666664%
    }
    .col-sm-push-1 {
        left: 8.333333333333332%
    }
    .col-sm-push-0 {
        left: 0
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666666666666%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333333334%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666666666666%
    }
    .col-sm-offset-7 {
        margin-left: 58.333333333333336%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666666666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.666666666666664%
    }
    .col-sm-offset-1 {
        margin-left: 8.333333333333332%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media(min-width:992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666666666666%
    }
    .col-md-10 {
        width: 83.33333333333334%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666666666666%
    }
    .col-md-7 {
        width: 58.333333333333336%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666666666667%
    }
    .col-md-4 {
        width: 33.33333333333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.666666666666664%
    }
    .col-md-1 {
        width: 8.333333333333332%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666666666666%
    }
    .col-md-pull-10 {
        right: 83.33333333333334%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666666666666%
    }
    .col-md-pull-7 {
        right: 58.333333333333336%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666666666667%
    }
    .col-md-pull-4 {
        right: 33.33333333333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.666666666666664%
    }
    .col-md-pull-1 {
        right: 8.333333333333332%
    }
    .col-md-pull-0 {
        right: 0
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666666666666%
    }
    .col-md-push-10 {
        left: 83.33333333333334%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666666666666%
    }
    .col-md-push-7 {
        left: 58.333333333333336%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666666666667%
    }
    .col-md-push-4 {
        left: 33.33333333333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.666666666666664%
    }
    .col-md-push-1 {
        left: 8.333333333333332%
    }
    .col-md-push-0 {
        left: 0
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666666666666%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333333334%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666666666666%
    }
    .col-md-offset-7 {
        margin-left: 58.333333333333336%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666666666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.666666666666664%
    }
    .col-md-offset-1 {
        margin-left: 8.333333333333332%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}

@media(min-width:1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666666666666%
    }
    .col-lg-10 {
        width: 83.33333333333334%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666666666666%
    }
    .col-lg-7 {
        width: 58.333333333333336%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666666666667%
    }
    .col-lg-4 {
        width: 33.33333333333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.666666666666664%
    }
    .col-lg-1 {
        width: 8.333333333333332%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666666666666%
    }
    .col-lg-pull-10 {
        right: 83.33333333333334%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666666666666%
    }
    .col-lg-pull-7 {
        right: 58.333333333333336%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666666666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.666666666666664%
    }
    .col-lg-pull-1 {
        right: 8.333333333333332%
    }
    .col-lg-pull-0 {
        right: 0
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666666666666%
    }
    .col-lg-push-10 {
        left: 83.33333333333334%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666666666666%
    }
    .col-lg-push-7 {
        left: 58.333333333333336%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666666666667%
    }
    .col-lg-push-4 {
        left: 33.33333333333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.666666666666664%
    }
    .col-lg-push-1 {
        left: 8.333333333333332%
    }
    .col-lg-push-0 {
        left: 0
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666666666666%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333333334%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666666666666%
    }
    .col-lg-offset-7 {
        margin-left: 58.333333333333336%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666666666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.666666666666664%
    }
    .col-lg-offset-1 {
        margin-left: 8.333333333333332%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}
table {
    max-width: 100%;
    background-color: transparent
}
th {
    text-align: left
}
