/***CSS***/
html, body {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 70.5%;
	line-height: 1.5em;
}
a {
	color: #428bca;
	text-decoration: none;
	background: transparent;
	transition: 300ms;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
}
a:hover,a:focus {
	color: #2a6496;
	outline: none;
	text-decoration:none;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:active {
	outline:  none;
}
h1 {
	margin: .67em 0;
	font-size: 2em;
}
b,strong {
	font-weight: bold;
}
hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: border-box;
}
img {
	border: 0;
	vertical-align: middle;
}
.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1,h2,h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4,h5,h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1,.h1 {
	font-size: 36px;
}
h2,.h2 {
	font-size: 30px;
}
h3,.h3 {
	font-size: 24px;
}
h4,.h4 {
	font-size: 18px;
}
h5,.h5 {
	font-size: 14px;
}
h6,.h6 {
	font-size: 12px;
}
ul li {
	list-style: none;
}
input {
	line-height: normal;
}
select {
	height: 27px;
	text-transform: none;
}
input,select{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: #f7ffff;
	color: #121212;
	font-weight: 300;
	outline: outline-color;
}
textarea{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	background: #f7ffff;
	color: #121212;
	font-weight: 300;
	outline: outline-color;
	text-transform: uppercase;
}
textarea:focus,select:focus,input[type="text"]:focus{
	background: #fcfab1;
	color: #121212;
}
input[type="text"],input[type="password"]{
	margin-top: 0px;
	vertical-align: middle;
	height: 22px;
	border-color: 1px solid #2d0000;
}
input[type="reset"],input[type="submit"],input[type="botton"] {
	cursor: pointer;
	-moz-appearance: button;
	-webkit-appearance: button;
}
input[type="submit"]:disabled,input[type="text"]:disabled {
	background: red;
	cursor: pointer;
	-moz-appearance: button;
	-webkit-appearance: button;
}
input[type="checkbox"],input[type="radio"] {
	padding: 0;
	box-sizing: border-box;
}
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
/*************************
*******Header CSS******
**************************/
#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-transform: uppercase;
}
#header .logo{
	width: 150px;
	height: 40px;
	float: left;
	padding-top: 5px;
	text-align: justify;
}
#header .info{
	float: right;
	width: 500px;
	line-height: 20px;
	margin-right: 20px;
	text-align: right;
}
#header a{
	color: #CCC;
}
/*************************
*******Footer CSS******
**************************/
#footer {
	width: 100%;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	text-transform: uppercase;
}
.footer-bottom {
	padding-top: 5px;
}
.clear{
	clear: both;
}
/*************************
*******Main CSS******
**************************/
#kontainer{
	width: 100%;
	margin-top: 55px;
	min-height: 100%;
	padding-bottom: 20px;
	overflow-x: auto;
}
#content_kiri{
	float: left;
	width: 100%;
	margin-left: -4px;
	color: #555;
}
#kolomkiri_{
	position: fixed;
	margin-left: 8px;
	height:88vh;
	width: 270px;
	font-family: 'Roboto', sans-serif;
	border-right: 2px  Solid #555;
	overflow: auto;
	-o-transition: linear;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	
}
#kolomkiri{
	position: fixed;
	float: left;
	left: 0;
	width: 20%;
	height:88vh;
	overflow: auto;
}
#kolomkiri ul{
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent url(images/add.gif) 0 0 no-repeat;
}
#kolomkiri ul.child{
	display: none;
	padding: 1px;
}
#kolomkiri li{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	font-size: 12px;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 18px;
	display:block;
}
#kolomkiri li.has_child{
	background: url(images/new.gif) 0 0 no-repeat;
	background-position: top left;
}
#kolomkiri li.open_child{
	background: url(images/open.gif) 0 0 no-repeat;
	background-position: top left;
}
#kolomkiri li a{
	display: block;
	text-decoration: none;
}
#kolomkiri li a:hover{
	cursor: pointer;
	color: #ffffff;
	background:#000;
	line-height: 18px;
}
#kolomkanan{
	width: 79%;
	margin-left: 21%;
	height:88vh;
	overflow: auto;
}
#mjudul{
	width: 100%;
	font-size: 14px;
	height: 20px;
	padding-top: 5px;
	border-bottom: 2px solid #087891;
}
#innertub{
	width: 100%;
}
#divPageData{
	width: 100%;
	height: 460px;
	overflow: auto;
}
#divPageNeraca{
	width: 100%;
	height: 440px;
	overflow: auto;
}
#divPageHasil{
	padding-top: 3px;
	width: 100%;
	height: 510px;
	overflow: auto;
}
#divPageLaporan{
	font-size: 9pt;
	padding-top: 3px;
	width: auto;
	height: 485px;
	overflow: auto;
}
#divPageDataa{
	width: 100%;
	padding-bottom: 100px;
	overflow: auto;
}
#divPageAkun{
	font-size: 9pt;
	width: auto;
	height:68vh;
	overflow: auto;
}
#divPageAkun65{
	font-size: 9pt;
	width: auto;
	height:64vh;
	overflow: auto;
}
#divPageAkun75{
	font-size: 9pt;
	width: auto;
	height:70vh;
	overflow: auto;
}
.clock{
	text-align: center;
	font-size: 11px;
}
#loading{
	top: 45%;
	left: 50%;
	color: white;
	padding: 5px 10px;
	font: 12px Arial;
	display: none;
	border: 2px solid #087891;
	vertical-align: middle;
	position: fixed;
	z-index: 100;
	opacity: 0.4;
}
.ui-combobox{
	position: relative;
	display: inline-block;
	height: 26px;
}
.ui-combobox-toggle{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -32px;
	padding: 10px;
	}
.ui-combobox-input{
	margin: 0;
	border: 1px solid #315091;
	}
.ui-autocomplete{
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 500 !important;
	}
a.standar{
	display: inline-block;
	background-color: #ddeeed;
	font-weight: bold;
	padding: 2px 4px;
	text-decoration: none;
	border: 1px solid #cbc6cc;
	margin: 1px;
	cursor: pointer;
	}
a.standar img{
	margin: 0 5px -4px 0;
	padding: 2px;
	}
.standar:hover{
	border: 1px solid #fbcb09;
	color: #F90;
	}
#pagination li{
	border: 1px;
	margin: 1px;
	padding: 0;
	font-size: 11px;
	list-style: none;
	display: inline;
	background: none;
}
#pagination a{
	border: solid 1px #DDDDDD;
	margin-right: 2px;
	}
#pagination .previous-off,#pagination .next-off{
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
	border: 1px;
	}
#pagination .next a,#pagination .previous a{
	font-weight: bold;
	border: 1px  !important;
	}
#pagination .active{
	color: #ff0084;
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
	border: 1px;
	}
#pagination a:link,#pagination a:visited{
	color: #0063e3;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
	}
#pagination a:hover{
	border: solid 1px #666666;
	}
.odd{
	background-color: #EDEFE9;
	}
.even{
	background-color: #f9f9f9;
	}
.evet{
	background-color: #cefcff;
	}
.jumlah{
	background-color: #EDEFE9;
	}
.total{
	background-color: #f9f9f9;
	}
.paging-nav{
	text-align: right;
	padding-top: 2px;
	}
.paging-nav a{
	margin: auto 1px;
	text-decoration: none;
	display: inline-block;
	padding: 1px 7px;
	background: #91b9e6;
	color: white;
	border-radius: 3px;
	}
.paging-nav .selected-page{
	background: #187ed5;
	font-weight: bold;
	}
.paging-nav,#tableData{
	width: 100%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	}
.table{
	border-collapse: collapse;
	box-shadow: 1px 1px 3px #CCC;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
	}
.table th{
	text-align: center;
	border: 1px solid #CCC;
	padding: 2px 6px;
	}
.table td{
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #CCC;
	padding: 2px 6px;
	}
.table tr.td:hover{
	background: #AFD7FE;
	color : #000000;
	}
.container{
	font-family: 'Roboto', sans-serif;
}
.filters{
	margin-bottom: 5px;
}
.filter-container{
	float: left;
}
.filter-container:last-of-type{
	padding-right: 0;
}
.filter-container input{
	height: 22px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 0 0 35px;
	outline: none;
	background: #fff url('images/search.png') 5px no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.filter-container input:focus{
	border: 1px solid #333;
	box-shadow: 1px 1px 3px #666666 inset;
	background-color: #ffff99;
}
.table-line{
	width: 100%;
	border-collapse: collapse;
}
.table-line th{
	padding: 4px;
	text-align: left;
	border-bottom: 2px solid #043a47;
}
.table-line td{
	padding: 4px 4px;
	white-space: nowrap;
	border-bottom: 1px solid #087891;
}
.table-line tr.td:hover{
	background: #AFD7FE;
	color: #000000;
}
.garis{
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;	
}